<div class="container description" style="align-items: center">
  <h4 style="font-weight: bold; font-size: 2.5rem">Ready to team up?</h4>
  <a href="/contact">
    <button class="btn btn-lg big-btn" type="submit">Let's Mesh</button>
  </a>
</div>
