<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <div class="container container__navbar">
    <a class="navbar-brand" href="/">
      <img src="./images/mesh-logo.svg" alt="Mesh logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-right" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-3 mb-2 mb-sm-0">
          <a class=" nav-item nav-link" href="/approach">Approach</a>
        </li>
        <li class="nav-item dropdown ml-3 mb-2 mb-sm-0">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {{active1}}" href="/business-consulting">Business Consulting</a>
            <a class="dropdown-item {{active2}}" href="/brand-identity">Brand Identity</a>
            <a class="dropdown-item {{active3}}" href="/product-development">Product Development</a>
          </div>
        </li>
        <li class="nav-item ml-3 mb-2 mb-sm-0">
          <a class=" nav-item nav-link" href="/about">About</a>
        </li>
      </ul>
      <a href="/contact">
        <button class="btn btn-lg ml-3 mb-2 mb-sm-0" type="submit">Let's Mesh</button>
      </a>
    </div>
  </div>
</nav>
