{{>navbar}}
{{> header}}

<!-- CONTENT -->
<div class="container container__col">
    <div class="description-title" style="padding-top: 50px">
      <h3>Mission</h3>
      <h4>Help small business owners be more effective.</h4>
    </div>
    <p>
      At Mesh, we know the courage it takes to step out on your own and the challenge of doing something from nothing.
      There are so many unknowns and the fear of failure is always looming in the background. Our mission is to enable
      small business owners to operate effectively so that they can focus on realizing their visions.
    </p>
    <p>
      Our approach ensures that we account for every foreseeable factor and take deliberate and calculated
      steps that will minimize risk and maximize the opportunities for success. We'll work with you every step of the
      way to ensure that you have everything you need to accomplish your business goals.
    </p>

    <h3 class="description-title" style="margin-top: 2rem">Values</h3>
    <div class="container__col">
      {{#with values}}
        {{#this}}
          <div class="container__about-items">
            <h4 class="container__about-items-title">{{title}}</h4>
            <p class="banner-text__approach">{{body}}</p>
          </div>
        {{/this}}
      {{/with}}
    </div>
</div>

{{> call-to-action}}

{{>footer}}
