{{>navbar}}

<!-- HEADING -->
<div id="about" class="heading">
    <h1>About</h1>
    <!-- <h4>Something</h4>s -->
</div>

<!-- CONTENT -->
<div class="container container__description">
  <div class="description">
    <!-- <img src="./images/headshot.jpg" alt="headshot"> -->
    <h3 class="description-title">Mission</h3>
    <h4 style="text-align: center; font-size:3rem">Help small business owners be more effective.</h4>
    <p>
      At Mesh, we know the courage it takes to step out on your own and the challenge of doing something from nothing.
      It can be intimidating and frightening. There are so many unknowns and the fear of failure is always looming in the
      background. We understand this, which is why whenever we undertake a project with a client, whether it be something
      small, like developing an email campaign, or something big, like developing a new product, we always take things one
      step at a time.
    </p>
    <p>
      Our methodology ensures that we account for every foreseeable factor and take deliberate and calculated
      steps that will minimize risk and maximize the opportunities for success. We'll work with you every step of the way to
      streamline your operations in order to accomplish your goals.
    </p>
  </div>
</div>

<h3 class="description-title">Values</h3>
<div class="container container__about">
  <div class="container__about-items">
    <h4 class="container__about-items-title">Pursue Purpose</h4>
    <p class="banner-text__approach">Do work that has a positive impact on the world. Avoid work that only has profit as a motive.</p>
  </div>

  <div class="container__about-items">
    <h4 class="container__about-items-title">Be Fair & Honest</h4>
    <p class="banner-text__approach">Always do right by the client. Work together to ensure that all sides are treated fairly.</p>
  </div>

  <div class="container__about-items">
    <h4 class="container__about-items-title">Embrace Learning</h4>
    <p class="banner-text__approach">Every challenge is an opportunity for growth. Embrace failure and learn from it.</p>
  </div>

</div>

{{>footer}}
