<!-- NAVBAR -->
{{> navbar}}

<!-- HEADING -->
<div id="approach" class="heading">
    <h1>Our Approach</h1>
    <h4>Think like a designer.</h4>
</div>

<!-- CONTENT -->
<div class="container container__description">
  <div class="description">
    <h3 class="description-title">The Process</h3>
    <p class="description-body">
      Our process is rooted in the methodologies and best practices that have been developed in the world of design thinking.
      The focus is centered on the end-user, with the goal of achieving the highest level of satisfaction for the customer
      while also keeping the owner's and employees' needs in the foreground. The process may be tweaked based on the challenge,
      but overall, this is what you should expect if you decide to work with us.
    </p>
  </div>
</div>

{{#each banners}}
  {{#with this}}
    <div class="banner {{style}}">
      <div class="container container__approach">
        <div>
          <img class="banner-img__approach" src="./images/{{image}}">
        </div>
        <div class="banner-text__approach">
          <h3 class="banner-title">{{title}}</h3>
            <p class="description-body">{{body}}</p>
        </div>
      </div>
    </div>
  {{/with}}
{{/each}}

{{> footer}}
