{{> navbar}}

<div id="brand" class="heading">
    <h1>Brand Identity</h1>
    <h4>Stand out from the crowd.</h4>
</div>

<div class="container container__description">
  <div class="description">
    <h3 class="description-title">Don't underestimate the power of a strong brand.</h3>
    <p class="description-body">
      They say never to judge a book by its cover, but a good cover can ensure that the book is read. Your brand is your company's book
      cover. Given society's short attention span, you need to be able to communicate as much as you can about your company at a glance
      in order for potential customers to consider your product or service.
    </p>
    <p>Below are some examples of our brand work.</p>
  </div>
</div>

<div class="container" style="flex-wrap: wrap">

    <div class="row">

      <div class="col col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-img-box">
            <img class="card-img-top" src="/images/DPL-Logo.png" alt="DPL Logo">
          </div>
          <div class="card-body">
            <h5 class="card-title">Deep Point Laboratories</h5>
            <p class="card-text">
              This company serves not only as a provider of cybersecurity services, but also as a community where
              experts and academics can come together to share knowledge within the cybersecurity space.
            </p>
            <a class="card-link" href="#">View Guidelines</a>
          </div>
        </div>
      </div>

      <div class="col col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-img-box">
            <img class="card-img-top" src="/images/BTB-Logo.png" alt="BTB Logo">
          </div>
          <div class="card-body">
            <h5 class="card-title">Beyond The Book</h5>
            <p class="card-text">
              An educational company focused on providing test prep materials to medical professionals in the orthotics and prosthetics
              industry.
            </p>
            <a class="card-link" href="#">View Guidelines</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-img-box">
            <img class="card-img-top" src="/images/FlexNut-Logo.png" alt="FlexNut Logo">
          </div>
          <div class="card-body">
            <h5 class="card-title">Flexible Nutrition</h5>
            <p class="card-text">
              Provides nutritional coaching focused on flexible dieting.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-img-box">
            <img class="card-img-top" src="/images/Hygeia-Logo.png" alt="Hygeia Logo">
          </div>
          <div class="card-body">
            <h5 class="card-title">Hygeia Health</h5>
            <p class="card-text">
              Telehealth vitals kiosk
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-img-box">
            <img class="card-img-top" src="/images/Yapa-Logo.png" alt="Yapa Logo">
          </div>
          <div class="card-body">
            <h5 class="card-title">YAPA</h5>
            <p class="card-text">
              Hand-made all-natural pet treats
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-img-box">
            <img class="card-img-top" src="/images/CCG-Logo.png" alt="CCG Logo">
          </div>
          <div class="card-body">
            <h5 class="card-title">Camacho Consulting Group</h5>
            <p class="card-text">
              Hand-made all-natural pet treats
            </p>
          </div>
        </div>
      </div>

    </div>

</div>

{{> footer}}
