{{> navbar}}

<!-- HEADING -->
<div id="brand" class="heading">
    <h1>Brand Identity</h1>
    <h4>Stand out from the crowd.</h4>
</div>

<!-- DESCRIPTION -->
<div class="container container__description">
  <div class="description">
    <h3 class="description-title">Don't underestimate the power of a strong brand.</h3>
    <p class="description-body">
      First impressions are everything. The decision whether or not to consider a company's services can happen at a glance.
      Your brand should capture the attention of your audience within that split second, and the only way that can happen
      is with a well-crafted brand identity.
    </p>
    <br>
    <p>Below are some examples of our brand work.</p>
  </div>
</div>

<!-- CONTENT -->
<div class="container" style="flex-wrap: wrap">
  <div class="row">

    {{#each cards}}
      {{#with this}}
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-img-box">
              <img class="card-img-top" src="/images/{{image}}">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{body}}</p>
              {{#if link}}
                <a class="card-link" href={{link}} target="_blank">View Logo Guidelines</a>
              {{/if}}
            </div>
          </div>
        </div>
      {{/with}}
    {{/each}}

  </div>
</div>

{{> footer}}
