{{> navbar}}

<div id="business" class="heading">
    <h1>Business Consulting</h1>
    <h4>Time is money. Gain more of both.</h4>
</div>

<div class="container container__description">
  <div class="description">
    <h3 class="description-title">Running a business is hard.</h3>
    <p class="description-body">
      <strong>But you already knew that.</strong> What you may not know are the various ways in which you can simplify your business
      operations through a shift in approach, structure, and the adoption of low-cost tools and services.
    </p>
    <p class="description-body">
      <strong>This is the knowledge we possess.</strong> Let us be your partner and we will help you optimize your business operations
      so that your valuable time can be spent working on what's really important - serving your customers.
    </p>
  </div>
</div>


<div class="banner banner__1">
  <div class="container container__services">
    <div class="banner-body">
      <div class="banner-title">
        <h3>Strategy</h3>
        <h4>You can't grow without a guiding light.</h4>
      </div>
        <p>
          Having a clear vision and knowing how to execute on it will make the difference between
          a company that just gets by, and one that is able to grow and prosper.
        </p>
        <br>
        <p>Vision & Mission - Goals & Metrics - Roadmapping</p>
    </div>
    <div class="banner-img">
      <img src="./images/gear-tree-square.png" alt="tree">
    </div>
  </div>
</div>

<div class="banner banner__2">
  <div class="container container__services">
    <div class="banner-body">
      <div class="banner-title">
        <h3>Organization Design</h3>
        <h4>Discover how culture impacts everything.</h4>
      </div>
        <p>
          Most employees leave their jobs after only two years.
          Learn the strategies and practices that can ensure that you have a happy and productive workforce.
        </p>
        <br>
        <p>Values Codification - Agile Methodologies - Organizational Structure</p>
    </div>
    <div class="banner-img">
      <img src="./images/network-square.png" alt="network">
    </div>
  </div>
</div>

<div class="banner banner__3">
  <div class="container container__services">
    <div class="banner-body">
      <div class="banner-title">
        <h3>Digital Transformation</h3>
        <h4>Never deal with paperwork again.</h4>
      </div>
        <p>
          Let us take the stress out of running your business by digitizing and automating your operations.
        </p>
        <br>
        <p>Process Optimization - Data Management - Software Integration</p>
    </div>
    <div class="banner-img">
      <img src="./images/webpage-square.png" alt="webpage">
    </div>
  </div>
</div>

{{> footer}}
