<div class="main-container">

  <img id="logo" src="images/mesh-logo.svg" alt="Mesh logo">

  <div class="panel panel-left">
    <a href="/business-consulting">
      <div>
        <h1>Business Consulting</h1>
      </div>
    </a>
  </div>

  <div class="panel panel-center">
    <a href="/brand-identity">
      <div>
        <h1>Brand Identity</h1>
      </div>
    </a>
  </div>

  <div class="panel panel-right">
    <a href="/product-development">
      <div>
        <h1>Product Development</h1>
      </div>
    </a>
  </div>

</div>
