<div class="main-container">
  <a href="/approach">
    <img id="logo" src="images/mesh-logo.svg" alt="Mesh logo">
  </a>

  <div class="panel panel__left">
    <a href="/business-consulting">
      <div class="panel-box">
        <div>
          <h1>Business Consulting</h1>
        </div>
      </div>
    </a>
  </div>

  <div class="panel panel__center">
    <a href="/brand-identity">
    <div class="panel-box">
        <div>
          <h1>Brand Identity</h1>
        </div>
    </div>
  </a>
  </div>

  <div class="panel panel__right">
    <a href="/product-development">
      <div class="panel-box">
        <div>
          <h1>Product Development</h1>
        </div>
      </div>
    </a>
  </div>

</div>
