<div class="main-container">
  <a href="/approach">
    <img id="logo" src="images/mesh-logo.svg" alt="Mesh logo">
  </a>

{{#each panels}}
  {{#with this}}
  <div class="panel {{style}}">
    <a href="/{{link}}">
      <div class="panel-box">
        <div>
          <h1>{{title}}</h1>
        </div>
      </div>
    </a>
  </div>
  {{/with}}
{{/each}}
