{{> navbar}}

<!-- HEADING -->
<div id="product" class="heading">
    <h1>Product Development</h1>
    <h4>Ideas are a dime a dozen. The magic is in the execution.</h4>
</div>

<!-- DESCRIPTION -->
<div class="container container__description">
  <div class="description">
    <h3 class="description-title">Build Anything</h3>
    <p class="description-body">
      Product development encompasses everything from software to consumer products to services. We can help you
      develop your solution, regardless of the format that the solution may take. And if all you have right now is
      a problem, we can guide you down the path of figuring out the right solution.
    </p>
  </div>
</div>

<!-- CONTENT -->
<div class="banner banner__1">
  <div class="container container__services">
    <div class="banner-body">
      <div class="banner-title">
        <h3>Research</h3>
        <h4>Dig deep.</h4>
      </div>
        <p>
          Have a problem, but not a solution? The first step is to understand as much as you can about the problem.
          Who are the people suffering from this problem? What is their biggest pain point? What factors are constributing
          to the problem? Is there anyone already trying to solve this problem? If so, how are they approaching it? Through
          guided research, we can uncover the answers to these questions and more.
        </p>
        <br>
        <p>Academic Research - Trend Analysis - Market Research - Competitive Analysis</p>
    </div>
    <div class="banner-img">
      <img src="./images/market-research.png" alt="market research">
    </div>
  </div>
</div>

<div class="banner banner__2">
  <div class="container container__services">
    <div class="banner-body">
      <div class="banner-title">
        <h3>Ideation & Refinement</h3>
        <h4>Make a match.</h4>
      </div>
        <p>
          You won't get it right on the first try. The key is to learn, iterate, and adapt. By adopting lean and agile
          methodologies, we can guide you through the process of ideation, wireframing, feedback, and refinement, until
          you land on the solution that you can feel confident is worth building.
        </p>
        <br>
        <p>Design Thinking - Wireframing</p>
    </div>
    <div class="banner-img">
      <img src="./images/refinement.png" alt="product-market fit">
    </div>
  </div>
</div>

<div class="banner banner__3">
  <div class="container container__services">
    <div class="banner-body">
      <div class="banner-title">
        <h3>MVP Development</h3>
        <h4>Make it real.</h4>
      </div>
        <p>
          Once you have a solid concept for a product or service, the next step is to build a Minimum Viable Product.
          That concept will be developed, tested, and refined until we have something that a customer is willing to pay for.
        </p>
        <br>
        <p>Lean Development - Agile Methodology - Full-Stack Development - CAD Design</p>
    </div>
    <div class="banner-img">
      <img src="./images/bicycle.png" alt="market research">
    </div>
  </div>
</div>


{{> footer}}
