.banner {
  display: flex;
  justify-content: center;
  color: white;
}

.banner__1 {
  background-color: #727F8C;
}
.banner__2 {
  background-color: #565F69;
}
.banner__3 {
  background-color: #3E464D;
}
.banner__4 {
  background-color: #343A40;
}

.banner-body {
  text-align: justify;
}

.banner-text__approach {
  flex: 1 1 auto;
}

.banner-img {
  max-width: 35%;
}
.banner-img__approach {
  width: 170px;
}

.banner-img img {
  max-width: 100%;
}

@media (min-width: 769px) {
  .banner-body {
    width: 60%;
    margin: 0 4rem 0 0;
  }
  .banner-img {
    margin-left: auto;
  }
  .banner-img__approach {
    margin-right: 3rem;
  }
}
@media (max-width: 768px) {
  .banner-title {
      text-align: center;
  }
  .banner-text {
    text-align: center;
    margin-top: 20px;
  }
  .banner-img {
    max-width: 45%;
    margin-bottom: 1.5rem;
  }
  .banner-img__approach {
    margin-bottom: 2rem;
  }
}
