.card {
  padding: 1rem;
  margin-bottom: 2.5rem;
  /* border: none; */
}

/* .card-deck {

} */

.card-img-box {
  padding: .75rem;
  /* border-bottom: grey 2px solid; */
}

.card-text {
  font-size: 1.2rem;
}
.card-link {
  color: #FF3F00;
}

/* @media (min-width: 576px) {

} */

/* @media (max-width:900px) {

} */
