.container {
  display: flex;
}

.container__navbar {
  justify-content: space-between;
  align-items: center;
}

.container__description {
  justify-content: center;
}

.container__services {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container__approach {
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container__about {
  flex-direction: column;
}

.container__about-items {
  display: flex;
  justify-content: space-between;
}
.container__about-items-title {
  min-width: 150px;
  margin-right: 2rem;
}

@media (min-width: 992px) {
  .container__description, .container__about {
    max-width: 850px;
  }
}

@media (max-width: 768px) {
  .container__services {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .container__approach {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .container__about-items {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .container__about-items-title {
    min-width: 150px;
    margin: 0;
  }
}
