.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

.description img {
  display: block;
  margin: 2rem auto 4rem auto;
  height: 20rem;
  width: auto;
}

.description-title {
  margin-bottom: 1.8rem;
  text-align: center;
}

@media (max-width: 992px) {
  .description {
    padding: 40px 0;
  }
}

@media (max-width: 768px) {
  .description {
    padding: 30px 0;
  }
  .description-title {
    text-align: center;
    margin-bottom: 1.4rem;
  }
  .description-body {
    margin: 10px 0 0 0;
  }
}

/* @media (min-width: 769px) {
  .description-body {
  }
} */
