.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  background-size: cover;
  background-position: center;
  color: white;
}

.heading h1 {
  font-size: 6rem;
  padding-bottom: 3rem;
}

.heading h4 {
  font-size: 3.5rem;
}

#business {
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("../../images/clock-pointers.jpg");
}

#brand {
  background-image: linear-gradient(rgba(0,0,0, 0.35), rgba(0,0,0, 0.35)), url("../../images/bg-brand.png");
  background-position: bottom center;
}

#product {
  background-image: linear-gradient(rgba(0,0,0, 0.35), rgba(0,0,0, 0.35)), url("../../images/post-its.jpg");
}

#approach {
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("../../images/notepad.jpg");
  /* background-position: center bottom; */
}

#about {
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("../../images/mesh-net.png");
}

#contact {
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("../../images/gear-train.png");
}

@media (max-width: 768px) {
  .heading {
    height: 40vh;
  }
  .heading h1 {
    font-size: 4rem;
  }
  .heading h4 {
    font-size: 2.5rem;
  }
}

/* @media (max-width: 576px) {

} */
