.navbar {
  font-family: Montserrat,'Open Sans', sans-serif;
  font-size: 1.4rem;
}

.navbar-brand img {
  width: 110px;
}

.navbar-collapse {
  padding-right: .5rem;
}
.navbar-nav {
  margin-right: .5rem;
}

.dropdown-menu {

  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid rgba(255,255,255,.5);}

.dropdown-item {
  color: rgba(255,255,255,.5);
  font-size: 1.3rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover  {
  background-color: #FF3F00;
  color: white;
}

@media (max-width: 576px) {
  .dropdown-menu {
    text-align: right;
  }
  .navbar-brand img {
    width: 90px;
  }
  /* .nav-item {
    margin-bottom: .5rem;
  } */
}
