.panel {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 33vw;
  margin: 0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
}

.panel-left {
  /* flex: 1 1 33%; */
  background-color: #3E464D;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/gears-outline-orange.png");
}

.panel-center {
  flex: 1 1 33%;
  background-color: #565F69;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/heart-outline-orange.png");
}

.panel-right {
  /* flex: 0 1 33%; */
  background-color: #3E464D;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/robot-outline-orange.png");
}


#logo {
  position: absolute;
  right: calc(50vw - 65px);
  /* right: 40px; */
  top: 2rem;
  width: 130px;
}

#logo-white {
  position: absolute;
  left: 35px;
  top: 30px;
  width: 130px;
}

@media(max-width: 768px) {
  .panel {
    height: 33vh;
    width: auto;
  }
  .panel h1 {
    font-size: 4rem;
  }
  #logo {
    right: 2rem;
    width: 90px;
  }
  #logo-white {
    right: 30px;
    top: 30px;
    width: 90px;
  }
}

@media(max-width: 576px) {
  .panel h1 {
    font-size: 2.5rem;
  }
}

@media(min-width: 769px) {
  .panel h1 {
    font-size: 5rem;
    transform: rotate(-90deg);
  }
}
