//COLORS
$vermilion: #FF3F00;
//rgb(239, 82, 35)
$gunmetal: #5A5D5A;
//rgba(90, 93, 90)
$grey: #666;
$off-white: #f7f7f7;

//FONT-SIZING
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

//SIZING
$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$xs-size: 0.8rem;
$desktop-breakpoint: 45rem;
